  /* adding my code */

  /* adding main + display */

  main{
    display: flex;
    justify-content: left;
  }

/* adding .emojis + grid properties */

  .emojis{
    /* styling the definition boxes */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-width: 850px;
  } 
  /* setting order so emoji shows up first */
  .emojis span{
    order: -1;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    /* adding flexbox properties */
    display: flex;
    flex-direction: column;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;

    /* aligning button to bottom  */
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: auto;
  }
  
  .icon {
    font-size: 4rem;

    /* centering the icon */
    display: flex;
    justify-content: center;
  }

